@tailwind base;
@tailwind components;
@tailwind utilities;

*::before,
*::after,
* {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
    /* 1rem = 16px */
    font-size: 100%;
    scroll-behavior: smooth !important;
}

@media all and (max-width: 2000px) {
    html {
        /* 1rem = 14px */
        font-size: 87.5%;
    }
}

@media all and (max-width: 1700px) {
    html {
        /* 1rem = 12px */
        font-size: 75%;
    }
}

@media all and (max-width: 1500px) {
    html {
        /* 1rem = 10px */
        font-size: 62.5%;
    }
}

@media all and (max-width: 850px) {
    html {
        /* 1rem = 9px */
        font-size: 56.25%;
    }
    ::-webkit-scrollbar {
        display: none;
    }
}

body {
    font-size: 1.6rem;
}

input {
    font-size: 16px !important;
}

img {
    max-width: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar {
    height: 1rem;
    /* @media all and (max-width: 700px) {
    height: 1rem;
  } */
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(197, 167, 255, 1);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(131, 66, 255, 1);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(162, 113, 255, 1);
}

.blur-item {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

/* filter-scroll styling */
.filter-scroll::-webkit-scrollbar-track {
    background-color: rgba(34, 34, 34, 0.4);
}

.filter-scroll::-webkit-scrollbar-thumb {
    background: rgba(162, 113, 255, 1);
}

.filter-scroll::-webkit-scrollbar-thumb:hover {
    background: rgba(131, 66, 255, 1);
}

/* blurred button */

/* .blurred-button {
    position: relative;

    background: transparent;
    color: white;
    z-index: 2;
    overflow: hidden;
}

.blurred-button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(131, 66, 255, 1);
    backdrop-filter: blur(18px);
    z-index: -1;
    border-radius: 5px;
} */

/* slider custom styling */
.slick-dots {
    margin-right: 8rem !important;
    display: flex !important;
    justify-content: center !important;
    bottom: -6rem !important;
}

.slick-dots li {
    margin: 0 2rem !important;
    width: 20rem !important;
    height: 0.4rem !important;
    background-color: rgba(215, 215, 215, 0.9) !important;
}

@media all and (max-width: 1150px) {
    .slick-dots li {
        width: 10rem !important;
    }
}

@media all and (max-width: 850px) {
    .slick-dots li {
        width: 5rem !important;
    }
}

@media all and (max-width: 700px) {
    .slick-dots li {
        width: 1rem !important;
        height: 1rem !important;
        border-radius: 100%;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        -ms-border-radius: 100%;
        -o-border-radius: 100%;
    }
}

@media all and (max-width: 700px) {
    .slick-dots li {
        width: 1rem !important;
        height: 1rem !important;
        border-radius: 100%;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        -ms-border-radius: 100%;
        -o-border-radius: 100%;
        margin: 0 0.5rem !important;
    }
}

.slick-dots li.slick-active {
    background-color: rgba(131, 66, 255, 1) !important;
}

/* otp */

@media all and (max-width: 750px) {
    .otp {
        width: 7.5rem !important;
        height: 7.5rem !important;
    }
}

.otp:focus,
.otp:active {
    border-color: rgba(131, 66, 255, 1) !important;
    /* background-color: rgba(131, 66, 255, 1) !important; */
}

/* input number type */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}
